<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.RecordFavourDao">
    <resultMap id="recordFavour" type="com.liangxunwang.unimanager.model.RecordFavour">
        <id column="favour_id" property="favour_id"/>
        <result column="record_id" property="record_id"/>
        <result column="favour_empid" property="favour_empid"/>
        <result column="favour_dateline" property="favour_dateline"/>
    </resultMap>

    <resultMap id="recordFavour_vo" type="com.liangxunwang.unimanager.mvc.vo.RecordFavourVO">
        <id column="favour_id" property="favour_id"/>
        <result column="record_id" property="record_id"/>
        <result column="favour_empid" property="favour_empid"/>
        <result column="favour_dateline" property="favour_dateline"/>

        <result column="favourNickname" property="favourNickname"/>
        <result column="favourCover" property="favourCover"/>
    </resultMap>

    <select id="lists" resultMap="recordFavour_vo">
        SELECT sn.*,lemp.nickname as favourNickname, lemp.cover as favourCover
        from record_favour sn
        LEFT JOIN emp lemp ON sn.favour_empid=lemp.empid
        WHERE 1=1
        <if test="record_id != null and record_id != ''">
            AND sn.record_id = #{record_id}
        </if>
        <if test="favour_empid != null and favour_empid != ''">
            AND sn.favour_empid = #{favour_empid}
        </if>
        ORDER  by sn.favour_dateline DESC
        limit #{index},#{size}
    </select>


    <select id="count" resultType="Long">
        SELECT count(sn.favour_id) FROM record_favour sn
        WHERE 1=1
        <if test="record_id != null and record_id != ''">
            AND sn.record_id = #{record_id}
        </if>
        <if test="favour_empid != null and favour_empid != ''">
            AND sn.favour_empid = #{favour_empid}
        </if>
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.RecordFavour">
        INSERT INTO record_favour(favour_id, record_id, favour_empid, favour_dateline)
        VALUES (#{favour_id}, #{record_id}, #{favour_empid}, #{favour_dateline})
    </insert>


    <select id="findByEmpId" resultMap="recordFavour_vo">
        SELECT sn.*,lemp.nickname as favourNickname, lemp.cover as favourCover
        from record_favour sn
        LEFT JOIN emp lemp ON sn.favour_empid=lemp.empid
        WHERE 1=1
        <if test="record_id != null and record_id != ''">
            AND sn.record_id = #{record_id}
        </if>
        <if test="favour_empid != null and favour_empid != ''">
            AND sn.favour_empid = #{favour_empid}
        </if>
    </select>

</mapper>